body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.landing-page {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
}

.hello-world {
    font-size: 20px;
    cursor: pointer;
}